.textBlock {
    display: flex;
    flex-direction: column;
    padding: 22px 20px 13px;
}

.authorInfoBlock {
    align-items: center;
    display: flex;
    margin-bottom: 7px;
}

.authorInfoBlock a {
    color: var(--orange);
}

.authorInfoBlock:hover a {
    text-decoration: underline;
}

.authorInfoBlock a span,
.authorInfoBlock a img {
    position: relative;
    z-index: 1;
}

.publishTime {
    color: var(--grey99);
    font-size: 0.5rem;
    line-height: 0.6rem;
    margin-left: 5px;
}

.publish {
    display: none;
}

.postHeading {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
}

.postLink {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.postLink:after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width: 1024px) {
    .textBlock {
        flex-grow: 1;
        padding: 0 0 0 13px;
    }

    .authorInfoBlock {
        margin-bottom: 0;
    }

    .publishTime {
        font-size: 0.7rem;
        line-height: 0.8rem;
        margin-right: 7px;
        margin-left: 0;
        order: -1;
    }

    .publish {
        display: inline;
        margin-right: 4px;
    }

    .postHeading {
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 10px;
        max-width: 540px;
        order: -1;
    }

    .postLink {
        -webkit-line-clamp: 1;
    }
}

@media (min-width: 1540px) {
    .postHeading {
        max-width: 672px;
    }
}
