.searchBlock {
    display: flex;
}

.userBlock:hover img {
    box-shadow: 0 0 0 1px var(--orange);
}

.userBlock:hover span {
    color: var(--orange);
}

.userBlock img {
    height: 30px;
    padding: 2px;
    transition: box-shadow 0.3s;
    width: 30px;
}

.userBlock span {
    display: none;
}

@media (min-width: 1024px) {
    .searchBlock {
        flex-direction: row-reverse;
    }

    .userBlock img {
        height: 50px;
        margin-right: 10px;
        width: 50px;
    }

    .userBlock span {
        display: block;
        font-size: 1rem;
        line-height: 1.2rem;
        transition: color 0.3s;
    }
}
