.card {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    position: relative;
}

.card > div:not(:last-of-type) {
    flex-basis: 100%;
}

.card:hover {
    outline: 1px solid var(--greyD9);
}

.card:hover h2 a {
    color: var(--orange);
}

@media (min-width: 1024px) {
    .card {
        align-items: center;
        flex-wrap: nowrap;
        height: 147px;
        margin: 1px;
        padding: 0 40px 0 37px;
    }

    .card > div:not(:last-of-type) {
        flex-basis: auto;
    }
}

@media (min-width: 1540px) {
    .card {
        padding: 0 45px 0 72px;
    }
}
