.menuButton {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 31px;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 17px;
    transition: background-color 0.3s;
    width: 31px;
}

.menuButton:hover {
    background-color: var(--grey33-1);
}

@media (min-width: 1024px) {
    .menuButton {
        right: 100px;
        top: 59px;
        transform: rotate(90deg);
    }
}
