.cardsList {
    padding: 10px 0;
}

@media (min-width: 1024px) {
    .cardsList {
        background-color: var(--white);
        padding: 20px 0;
    }
}

@media (min-width: 1540px) {
    .cardsList {
        padding: 40px 0;
    }
}
